@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans";
  background: top url(./images/bg-pattern-top.svg);
  background: bottom url(./images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
}

.main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin: 100px 50px;
}

.person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.person-img {
  border-radius: 100%;
  margin-top: -60px;
  padding: 5px;
  background-color: white;
}

.person-h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 20px;
  color: hsl(229, 23%, 23%);
}

.person-para {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: hsl(0, 0%, 59%);
}

.main-para {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  color: hsl(0, 0%, 59%);
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.social-h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 20px;
  color: hsl(229, 23%, 23%);
  padding: 5px;
}

.social-para {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  color: hsl(0, 0%, 59%);
  padding: 5px;
}

hr {
  border: 0.5px solid hsl(227, 10%, 46%);
}

.foot {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: hsl(229, 23%, 23%);
  margin: 50px 20px;
}

.foot a {
  text-decoration: none;
  color: hsl(31, 77%, 52%);
}

@media screen and (max-width: 500px) {
  body {
    justify-content: start;
  }
}
